.inicio-bg{
      background: url('img/EliorForest.jpg') center/cover no-repeat fixed;
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }
.logo-morado {
      color: #b94bff;
    }
.Logo {
      height: 90vh;
      color: white;
      text-shadow: 6px 6px 6px rgba(0,0,0,0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
.contorno-texto{
      color: white;
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      text-shadow: 6px 6px 6px rgba(0,0,0,0.7);
    }
.bg-dark-section {
      background-color: #111;
      color: white;
      padding: 60px 0;
    }
.curiosidades .card {
      background-color: #222;
      color: white;
    }
.historia-bg {
      background: url('img/priestella.jpg') center/cover no-repeat fixed;
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }
header {
      background: url('https://images.alphacoders.com/110/1102139.jpg') center/cover no-repeat;
      color: white;
      text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
.accordion-button {
      font-weight: 600;
    }
.arc-img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 15px;
    }
.personajes-bg{
      background: url('img/lugunica.jpg') center/cover no-repeat fixed;
      margin: 0;
      padding: 0;
      min-height: 100vh;
    }
.personaje {
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    }
.personaje img {
      border-radius: 12px;
      max-height: 300px;
      object-fit: cover;
    }
h2 {
      color: white;
      text-shadow: 2px 2px 4px black;
    }



